.hotel-details{
    padding: 0 12%;
}
.hotel-title{
    margin-top: 50px;
}
.hotel-title h1{
    font-weight: 600;
}
.hotel-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.hotel-title span{
    margin: 0 20px;
}
.hotel-title i{
    color: #7AB730;
    font-size: 14px;
}
.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallery-img-1{
    grid-area: first;
}
.pequenos-details h2{
    font-weight: 500;
}
.pequenos-details h4{
    text-align: right;
    font-size: 22px;
}
.linha{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 750px;
    margin: 20px 0 50px;
}
.check-form{
    margin: 10px;
    margin-left: -50px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    width: 113%;
}
.check-form label{
    display: block;
}
.check-form div{
    padding: 20px;
}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    font-family: "Poppins", sans-serif;
    background: #7AB730;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 300px;
    border-radius: 20px;
    font-size: 16px;
}
.guest-field{
    flex: 1;
}
.detalhes-list{
    list-style: none;
    margin: 50px 0;
}
.detalhes-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.detalhes-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.detalhes-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}
.hotel-desc{
    max-width: 700px;
    margin-bottom: 50px;
}
.map{
    margin: 50px 0;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
.map b{
    display: block;
    margin-bottom: 16px;
}
.host{
    display: flex;
    align-items: center;
}
.host img{
    width: 80px;
    border-bottom: 50%;
    margin-right: 30px;
    border-radius: 50px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.host i{
    color: #7AB730;
}
.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #003f5c;
    border-radius: 8px;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: left;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
nav .fa-bars{
    display: none;
}



@media only screen and (max-width: 700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
   
    .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .registro-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    

    .house-details{
        margin-top: 150px;
    }
    .row p{
        margin-top: 10px;
    }
    .gallery{
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form{
        padding: 10px 30px;
        margin-left: -13px;
    }
    .check-form div{
        padding: 20px 0;
        width: 100%;
    }
    .check-form input{
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px; 
    }
    .host{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin: 40px 0;
    }
}