:root {
  --font-family-sans-serif: "Poppins", sans-serif;
  --clr-accent-100:#7AB730;
  --clr-accent-200:#527a20;
  --clr-neutral-100:rgb(234, 234, 234);
  --clr-neutral-200:rgb(173, 173, 173);
}

.visually-hidden:not(:focus):not(:active) {
  clip:rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

article, aside, figcaption, figure, footer, header, hgroup, section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F3F3F3;
  position: relative;
  display: grid;
}

a {
  color: #7AB730;
}

a:hover:not(.titulo) {
  color: #527a20;
  text-decoration: underline;
}

.communication {
  width: 80vw;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: gray;
}

.communication > div, .communication > ul {
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  justify-content: center;
}

.titulo {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0 .5rem;
}

.titulo-modifier {
  color: #7AB730;
}

.container {
  width: 80vw;
  height: 5vh;
  padding: 1rem 1.5rem;
  position: absolute;
  top:2rem;
  background-color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .2);
  display: inline-flex;
  align-items: center;
  justify-content:space-between;
  justify-self: center;
}

ul {
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-weight: 500;
  color: black;
}

.nav-links li a:hover {
  text-decoration: none;
}

.hero-img {
  width: 100vw;
  height: 70vh;
  background: url('img/carousel-2.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  z-index: -1;
}
.hero-img::after {
  content: '';
  width: 100vw;
  height: 70vh;
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
}

.hero-text {
  text-align: center;
  
  color: white;
  z-index: 2;
}

.hero-tag {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  color: #dedede;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.btn-grande {
  border-radius: 0%;
  border-style: none;
  border: #7AB730;
  padding: .8rem 1.5rem;
  background-color: #7AB730;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width:830px) {
  .container {
    width: 100vw;
    position: relative;
    top: 0;
  }

  .hero-img, .hero-img::after {
    margin-top: 0;
    width: 100vw;
    height: 40vh;
  }
  ul {
    display: none;
  }
}

@media (max-width:700px) {
  .communication {
    display: none;
  }
}

.banner
{
  background-color: white;
  margin:-5% 12% 0 12%;
  padding: 1rem 2rem;
  border-radius: .25rem;
  text-align: center;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .2);
}

form {
  font-size: 1rem;
}

.opcoes{
  padding: 3% 0;
}

.opcoes input
{
  padding: 1%;
  margin-right: 2%;
  width: 15%;
  border: solid 1px var(--clr-neutral-200);
  font-size: 1rem;
}

.opcoes select
{
  padding: 1%;
  margin-right: 2%;
  width: 20%;
  border: solid 1px var(--clr-neutral-200);
  font-size: 1rem;
}

.opcoes .submit
{
  background-color: #7AB730;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: 2px solid #7AB730;
}

.submit {
  padding: .5rem 1rem;
  cursor: pointer;
}

.opcoes .submit:hover {
  background-color: white;
  color: #7AB730;
}

section {
  padding: 2.5rem;
}

.resultado-pesquisa{
  width: 100%;
  height: 50%;
}
.hospedagem{
  width: 90%;
  margin: 1% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hospedagem-item{
  width: 30%;
  background-color: white;
  margin: 1.5%;
  border-radius: .4rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: black;
}
.hospedagem-item img{
  width: 100%;
  border-radius: .4rem .4rem 0 0;
}
.hospedagem-nome{
  font-size: 1.2rem;
  font-weight: 600;
} 
.hospedagem-duracao, .hospedagem-distancia, .hospedagem-preco > span {
  color: gray;
}

.hospedagem-preco {
  font-weight: 500;
}
.hospedagem-texto{
  padding: 1rem;
}

.blog-all{
  padding: 2%
}
.blog-upper{
  padding-bottom: 10%;
  color: var(--clr-accent-100);
  text-transform: uppercase;
  letter-spacing: 6px;}

.blog-call{
  margin: 5% auto;
  width: 90%;
  padding: 2rem;
  background-image: url('img/blog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .4rem;
  color: white;
  
}
.blog-call-title{
  font-size: 2.3rem;
  font-weight: 600;
  max-width: 50%;
}
.blog-call p{
  margin: 2% 0;
 font-size: 1.3rem;
 font-weight: 200;
 max-width: 75%;
 color: var(--clr-neutral-100);
}


.btn-grande:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #7AB730;
  border: 2px solid var(--clr-accent-100);
}

@media (max-width: 400px){
  .opcoes input
{
  width: 100px;
  margin-top: 2%;
  font-size: 2rem;
}

.opcoes select
{
  width: 100px;
  margin-top: 2%;
  font-size: 2rem;
}

.opcoes .submit
{
  width: 100px !important;
  margin-top: 2%;
}
.btn-medio{
  width: 100px;
  height: 50px;
}
}
.copyright{
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
}
