:root {
  --font-family-sans-serif: "Poppins", sans-serif;

}

.visually-hidden:not(:focus):not(:active) {
  clip:rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

article, aside, figcaption, figure, footer, header, hgroup, section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #F3F3F3;
  position: relative;
  display: grid;
}

a {
  color: #7AB730;
}

a:hover:not(.titulo) {
  color: #527a20;
  text-decoration: underline;
}

.communication {
  width: 80vw;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: gray;
}

.communication > div, .communication > ul {
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  justify-content: center;
}

.titulo {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
}

.titulo-modifier {
  color: #7AB730;
}

.container {
  width: 80vw;
  height: 5vh;
  padding: 1rem 1.5rem;
  position: absolute;
  top:2rem;
  background-color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .2);
  display: inline-flex;
  align-items: center;
  justify-content:space-between;
  justify-self: center;
}

ul {
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-weight: 500;
  color: black;
}

.nav-links li a:hover {
  text-decoration: none;
}

.hero-img {
  width: 100%;
  height: 40%;
  /* margin-top: 2.5rem; */
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.hero-text {
  text-align: center;
  z-index: 2;
}

.hero-tag {
  text-transform: uppercase;
  font-weight: 500;
}

.hero-title {
  font-size: 3vw;
  font-weight: 600;
}

@media (max-width:830px) {
  .container {
    width: 100vw;
    position: relative;
    top: 0;
  }

  .hero-img {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  ul {
    display: none;
  }
}

@media (max-width:700px) {
  .communication {
    display: none;
  }
}

.banner
{
  background-color: white;
  margin-top: -20%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  border: 1px solid black;
  text-align: center;
  border: hidden;
  border-radius: 5px;
}

.slogan{  
  padding-top: 3%;
  padding-bottom: 3%;
}

.opcoes{
  padding-top: 3%;
  padding-bottom: 3%;
}

.opcoes input
{
  padding: 1.9%;
  margin-right: 2%;
  width: 12%;
  border: solid 1px black;
  border-radius: 25px;
  font-size: 1vw;
}

.opcoes select
{
  padding: 2%;
  margin-right: 2%;
  width: 15%;
  border: solid 1px black;
  border-radius: 25px;
  font-size: 1vw;
}

.opcoes .submit
{
  padding: 2% !important;
  width: 12% !important;
  background-color: #7AB730;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  font-size: 1vw;
  border: 2px solid #7AB730;
}

.opcoes .submit:hover {
  background-color: white;
  color: #7AB730;
}

.resultado-pesquisa{
  width: 100%;
  height: 50%;
}
.hospedagem{
  width: 90%;
  margin: 1% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hospedagem-item{
  border-radius: 5%;
  width: 30%;
  background-color: white;
  margin: 1% ;
  font-size: 1vw;
  color: black;
}
.hospedagem-item img{
  width: 100%;
  border-radius: 5%;
}
.hospedagem-nome{
  font-size: 1.5vw;
  font-weight: 700;
} 
.hospedagem-texto{
  padding: 3%;
}

.blog-all{
  padding: 2%
}
.blog-upper{
  padding-bottom: 10%;
}

.blog-call{
  margin: 5%;
  width: 90%;
  padding: 1%;
  background-image: url(./img/blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: hidden;
  border-radius: 25px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.blog-call-title{
  font-size: 4vw;
}
.blog-call p{
  margin: 2% 0;
 font-size: 1.5vw;
}
.btn-medio{
  border: 0;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  width: 15%;
  padding: 1em 0;
  border: hidden;
  border-radius: 25px;
}

@media (max-width: 400px){
  .opcoes input
{
  width: 100px;
  margin-top: 2%;
  font-size: 2vw;
}

.opcoes select
{
  width: 100px;
  margin-top: 2%;
  font-size: 2vw;
}

.opcoes .submit
{
  width: 100px !important;
  margin-top: 2%;
}
.btn-medio{
  width: 100px;
  height: 50px;
}
}
.copyright{
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  text-align: center;
}